.filter-card{
  margin: 10px;
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 48px;

}


.search-box{
  display: block;
  min-height: 50px;
}
