<div>
  <div class="filter-card">
    <form class="search-form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Search book title"
        type = 'text' [(ngModel)]=
        "searchTermInput"
        name="searchTerm"
        class="search-box"
        (keyup)="filterBookList()">
      </mat-form-field>
    </form>

  </div>
  <ul>
    <div *ngFor="let book of books">
      <app-book-details  [book]="book"
                         [component]="'book-list'"
                         (refreshBookList)="refreshBookList($event)">

      </app-book-details>
    </div>
  </ul>
</div>
