<!-- login.component.html -->
<div *ngIf = "selectedTab=='login'">
  <form (ngSubmit)="login()">
    <div>
      <label for="username">Username:</label>
      <input type="text" id="email" name="email" [(ngModel)]="email" required>
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" [(ngModel)]="password" required>
    </div>
    <button type="submit">Login</button>
    create an account
    <button (click)="setTabSelection('register')">Register</button>
  </form>
</div>
<div *ngIf = "selectedTab=='register'">
  <form (ngSubmit)="register()" #registrationForm="ngForm">
    <div>
      <label for="name">Username</label>
      <input type="text" id="name" name="name" [(ngModel)]="user.name" required>
    </div>
    <div>
      <label for="email">Email</label>
      <input type="email" id="email" name="email" [(ngModel)]="user.email" required>
    </div>
    <div>
      <label for="phone">Phone</label>
      <input type="phone" id="phone" name="phone" [(ngModel)]="user.phone" required>
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" id="password" name="password" [(ngModel)]="user.password" required>
    </div>
    <button type="submit" [disabled]="registrationForm.invalid">Register</button>
    <button (click)="setTabSelection('login')">Login</button>
  </form>
</div>



