<main class="main">

  <!-- <mat-toolbar>
    <span>Welcome to your Reading List App</span>
  </mat-toolbar> -->

  <mat-toolbar>
    <span>Welcome to your Reading List App</span>
    <span class="spacer"></span>
    <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon"> -->
      <div class="toolbar-icon" (click)="navigateToStatistics()">
        <mat-icon>
          <!-- <span class="material-symbols-outlined">
          browse_gallery
          </span> -->

          <span class="material-symbols-outlined">
            view_kanban
            </span></mat-icon>


      </div>
      <div class="toolbar-icon">
        <mat-icon>
            arrow_circle_down
          </mat-icon>
      </div>
    <!-- </button> -->
    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button> -->
  </mat-toolbar>

  <router-outlet></router-outlet>
</main>
