<main class="main">
  <mat-toolbar>
        <span (click)="navigateToHome()" class="cursor-pointer">Reading List</span>
        <span class="spacer"></span>
        <button mat-icon-button *ngIf="!isLoginPage()" matTooltip="View Statistics"  class="statisticsbtn" (click)="navigateToStatistics()">
          <mat-icon>view_kanban</mat-icon>
        </button>
        <button mat-icon-button  *ngIf="!isLoginPage()" matTooltip="Logout" class="logoutbtn" (click)="logout()">
          <mat-icon>power_settings_new</mat-icon>
        </button>
  </mat-toolbar>

  <router-outlet></router-outlet>
</main>
